{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<h1>Maraya Kaneva is an accomplished artist known for her captivating and thought-provoking artworks. With a unique blend of vibrant colors and intricate details, Kaneva's pieces often explore themes of identity, nature, and human emotion.

Her use of mixed media allows her to create dynamic compositions that draw viewers in and invite them to explore the layers of meaning within each piece. Whether she's working on a large-scale canvas or a delicate sculpture, Kaneva's dedication to her craft shines through in every creation.

In addition to her artistic talents, Kaneva is also deeply passionate about environmental conservation. Many of her works incorporate recycled materials as a statement on sustainability and the importance of protecting our planet.

Through her art, Maraya Kaneva invites us to pause, reflect, and appreciate the beauty and complexity of the world around us</h1>